-
	var steps = [
		{
			title: "Проведение Брифинга",
			image: "../assets/images/dialog.svg",
			description: "Изучаем потребности и составляем задание на разработку",
			position: {
				top: '29.5%',
				left: '2%',
			}
		},
		{
			title: "Разработка",
			image: "../assets/images/develop.svg",
			description: "Приступаем к реализации вашего проекта",
			position: {
				top: '-6%',
				left: '51%',
			}
		},
		{
			title: "Тестирование",
			image: "../assets/images/test.svg",
			description: "Проверяем стабильность работы сервиса",
			position: {
				top: '29.5%',
				left: '98%',
			}
		},
		{
			title: "Сдача Проекта",
			image: "../assets/images/cooperation.svg",
			description: "Передаем права и исходный код",
			position: {
				top: '84%',
				left: '82%',
			}
		},
		{
			title: "Поддержка",
			image: "../assets/images/support.svg",
			description: "Сохраним ваш сервис в актуальном состоянии",
			position: {
				top: '84%',
				left: '15%',
			}
		},
	]

article.workflow
	.limit
		.section-title Как мы работаем

		.steps-wrapper
			each step in steps
				.step(style=`top:${step.position.top};left:${step.position.left};`)
					.step-image
						img(src=step.image)
					.step-title!= step.title
					.step-description!= step.description

			.rocket
